<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}js/common.js"></script>
		<link rel="stylesheet" href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}css/style.css">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	</head>

	<body>
		{% include "header.html.twig" %}
		<div id="cart-wrapper">
			<div class="container">
				<button id="back-btn">
					<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}list.php?page=1">商品一覧に戻る</a>
				</button>
				<div id="cart-list">
					<p class="cart-info">カート内商品数 :
						{% if sumNum != '' %}
							{{sumNum}}
						{% else %}
							0
						{% endif %}個 合計金額 : &yen;{{sumPrice|number_format(0, '.', ',')}}</p>

					{% if dataArr | length == 0 %}
						<p class="cart-info" style="color:red;">{{ errMsg }}</p>
					{% else %}
						{% for value in dataArr %}
							<div class="item">
								<div class="image">
									<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}itemdetail.php?item_id={{ value.item_id }}"><img src="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}upimages/{{value.image.0}}" alt="{{value.item_name}}"></a>
								</div>
								<div class="item-detail">
									<p class="name">
										<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}itemdetail.php?item_id={{ value.item_id }}">{{ value.item_name }}</a>
									</p>
									<p class="price">&yen;{{value.price|number_format(0, '.', ',')}}</p>
									<p class="quantity">現在の数量：{{value.quantity}}
										<form action="cart.php" method="post" class="quantity-form">
											<select name="quantity" class="quantity-select">
												{% for index, value in quantityArr %}
													<option value="{{index}}" {% if dataArr.quantity == index %} selected {% endif %}>{{value}}</option>
												{% endfor %}
											</select>
											<input type="hidden" name="crt_id" value="{{value.crt_id}}">
											<input type="hidden" name="item_id" value="{{value.item_id}}">
											<input type="submit" name="change" value="数量変更">
										</form>
									</p>
									<p class="delete">
										<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}cart.php?crt_id={{value.crt_id}}">カートから削除</a>
									</p>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>
				<div>
					<form action="payment.php" method="post">
						<input type="hidden" name="sumPrice" value="{{sumPrice}}">
						<input type="hidden" name="sumNum" value="{{sumNum}}">
						<input class="to-payment" type="submit" name="send" value="注文確認画面に進む">
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
