<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}css/style.css">
		<title>お問い合わせ</title>
	</head>
	<body>
		<div class="form-wrapper">
			<div class="container">
				<ul>
					<li>お名前<span class="red">*</span>
					</li>
					<li>
						{{contactArr.name}}
					</li>
				</ul>
				<ul>
					<li>メールアドレス<span class="red">*</span>
					</li>
					<li>
						{{contactArr.email}}
					</li>
				</ul>
				<ul>
					<li>お問い合わせ内容<span class="red">*</span>
					</li>
					<li>
						{{contactArr.contents}}
					</li>
				</ul>
				<div class="form">
					<form action="contactConfirm.php" method="post">
						<input type="hidden" name="name" value="{{contactArr.name}}">
						<input type="hidden" name="email" value="{{contactArr.email}}">
						<input type="hidden" name="contents" value="{{contactArr.contents}}">
						<input type="submit" name="back" value="問い合わせ内容を変更する">
					</form>
					<form action="mailsend.php" method="post">
						<input type="hidden" name="name" value="{{contactArr.name}}">
						<input type="hidden" name="email" value="{{contactArr.email}}">
						<input type="hidden" name="contents" value="{{contactArr.contents}}">
						<input type="submit" name="send" value="送信">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
