<header>
	<div id="header-logo">
		<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}index.php">portfolio</a>
		{# <img src="#"><a></a> #}
	</div>

	<nav class="nav">
		<ul class="menu">
			<li>
				{% if user_name != '' %}
					<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}login.php">
						<i class="fas fa-user fa-lg"></i>
						<span>{{ user_name }}さん</span>
					</a>
				{% else %}
					<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}login.php">
						<i class="fas fa-user fa-lg"></i>
						<span>ログイン</span>
					</a>
				{% endif %}
			</li>
			<li>
				{% if id != '' %}
					<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}cart.php">
						<i class="fas fa-shopping-cart fa-lg"></i>
						<span>カート</span>
					</a>
				{% else %}
					<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}login.php">
						<i class="fas fa-shopping-cart fa-lg"></i>
						<span>カート</span>
					</a>
				{% endif %}
			</li>
			<li>
				{% if id != '' %}
					<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}order_history.php">
						<i class="fas fa-clipboard-list fa-lg"></i>
						<span>購入履歴</span>
					</a>
				{% else %}
					<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}login.php">
						<i class="fas fa-clipboard-list fa-lg"></i>
						<span>購入履歴</span>
					</a>
				{% endif %}
			</li>
		</ul>
	</nav>

	<div class="nav_btn" id="nav_btn">
		<i class="line line-1"></i>
		<i class="line line-2"></i>
		<i class="line line-3"></i>
	</div>
	<div class="nav_bg" id="nav_bg"></div>

</header>


{# {% if session.id in session %}
					<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}cart.php">
						<i class="fas fa-shopping-cart"></i>
					</a>
				{% else %}
					<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}login.php">
						<i class="fas fa-shopping-cart"></i>
					</a>
				{% endif %} #}

{# <form action="list.php" method="get" id="search-form">
					            <input type="text" name="search" value="" id="sform" placeholder="キーワードを入力">
					            <input id="sbtn" type="submit" name="send" value="検索">
					          </form>
					          <button onclick="location.href='http://localhost/DT/portfolio/list.php'">検索条件をリセット</button> #}

{# <header>
		<div class="container">
			<div id="logo">
				<a href="http://localhost/DT/portfolio/top.php">portfolio</a>
			</div>
			<nav>
				<ul class="menu">
					<li>
						<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}regist.php">新規登録</a>
					</li>
					<li>
						{% if session.id in session %}
							<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}logout.php">ログアウト</a>
						{% else %}
							<a id="login" href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}login.php">ログイン</a>
						{% endif %}
					</li>
					<li>
						<a id="mypage" href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}mypage.php">マイページ</a>
					</li>
					<li>
						{% if user_name | length > 0 %}
							ようこそ{{user_name}}さん
						{% else %}
							ようこそゲストさん
						{% endif %}
					</li>
				</ul>
			</nav>
			<div class="nav_btn" id="nav_btn">
				<span class="hamburger_line hamburger_line1"></span>
				<span class="hamburger_line hamburger_line2"></span>
				<span class="hamburger_line hamburger_line3"></span>
			</div>
			<div class="nav_bg" id="nav_bg"></div>
		</div>
	</header> #}
