<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
		<title>商品登録</title>
	</head>

	<body>
		{% include "header.html.twig" %}
		<div id="form-wrapper">
			<input type="button" name="back" value="一覧へ移動する" onclick="location.href='{{constant('portfolio\\Bootstrap::ENTRY_URL')}}submit_item.php'" id="back-btn">
			<div class="container">
				<form method="post" action="item_submit.php" enctype="multipart/form-data">
					{% if  msg | length > 0 %}
						<p class="error">{{msg}}</p>
					{% endif %}
					<p id="title">商品登録</p>
					<div class="form-list">
						<div class="form-item">
							<p class="form-title">商品名</p>
							<input type="text" name="item_name" value="{{dataArr.item_name}}">
						</div>
						{% if errArr.item_name | length > 0 %}
							<span class="red">{{errArr.item_name}}</span>
						{% endif %}
					</div>
					<div class="form-list">
						<div class="form-item">
							<p class="form-title">価格</p>
							<input type="text" name="price" value="{{dataArr.price}}">
						</div>
						{% if errArr.price | length > 0 %}
							<span class="red">{{errArr.price}}</span>
						{% endif %}
					</div>
					<div class="form-list">
						<div class="form-item">
							<p class="form-title content">商品詳細</p>
							<textarea name="detail" cols="70" rows="20">{{dataArr.detail}}</textarea>
						</div>
						{% if errArr.detail | length > 0 %}
							<span class="red">{{errArr.detail}}</span>
						{% endif %}
					</div>
					<div class="form-list">
						<div class="form-item">
							<p class="form-title">カテゴリー</p>
							<div class="block auto-size">
								{% for index, label in ctgList %}
									<input type="radio" name="category" value="{{label.ctg_id}}" id="category_{{label.ctg_id}}" {% if dataArr.category == label.ctg_id %} checked="checked" {% endif %} class="radio">
									<label for="category_{{label.ctg_id}}" class="radio">{{label.category_name}}</label>
								{% endfor %}
							</div>
						</div>
						{% if errArr.category | length > 0 %}
							<span class="red">{{errArr.category}}</span>
						{% endif %}
					</div>
					<div class="form-list">
						<div class="form-item">
							<p class="form-title">サブカテゴリー</p>
							<div class="block auto-size">
								{% for label in subCtgList %}
									<input type="radio" name="subcategory" value="{{label.ctg_id}}" id="subcategory_{{label.ctg_id}}" {% if dataArr.subcategory == label.ctg_id %} checked="checked" {% endif %} class="radio">
									<label for="subcategory_{{label.ctg_id}}" class="radio">{{label.category_name}}</label>
								{% endfor %}
							</div>
						</div>
						{% if errArr.subcategory | length > 0 %}
							<span class="red">{{errArr.subcategory}}</span>
						{% endif %}
					</div>
					<div class="form-list">
						<div class="form-item">
							<p class="form-title content">画像</p>
							<div class="block auto-size">
								<p>サムネイル1</p>
								<input type="file" name="image[]" class="thumbnail">
								<p>サムネイル2</p>
								<input type="file" name="image[]" class="thumbnail">
								<p>サムネイル3</p>
								<input type="file" name="image[]" class="thumbnail">
								<p>サムネイル4</p>
								<input type="file" name="image[]" class="thumbnail">
								<p>サムネイル5</p>
								<input type="file" name="image[]" class="thumbnail">
							</div>
						</div>
						{% if errArr.image | length > 0 %}
							<span class="red">{{errArr.image}}</span>
						{% endif %}
					</div>
					<div class="submit-btn-box">
						<input class="submit-btn" type="submit" name="send" value="商品登録">
						{% if errArr.miss | length > 0 %}
							<p>{{errArr.miss}}</p>
						{% endif %}
					</div>
				</form>
			</div>
		</body>
	</body>
</html>
