<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}js/common.js"></script>
		<link rel="stylesheet" href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}css/style.css">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	</head>

	<body>
		{% include "header.html.twig" %}
		<div id="item-detail-wrapper">
			<input type="button" name="back" value="商品一覧へ戻る" onclick="history.back();return false" id="back-btn">
			<input type="hidden" name="entry_url" value="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}" id="entry_url">
			<div class="item-flex">
				<div class="item-image">
					<img src="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}upimages/{{itemData.image}}" alt="{{itemData.item_name}}" class="image">
				</div>
				<div class="item-detail">
					<ul class="detail">
						<li class="name">{{itemData.item_name}}</li>
						<li class="price">&yen;{{itemData.price|number_format(0, '.', ',')}}</li>
						<li class="image-detail">{{itemData.detail}}</li>
						<input type="hidden" name="item_id" id="item_id" value="{{itemData.item_id}}">
					</ul>
					<div class="cart-in">
						<input type="button" name="cart_in" value="ショッピングカートへ入れる" id="cart-btn">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
